@import "../../assets/styles/app-variables";

:host {
    .card-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }

    .card {
        min-width: 300px;
        display: grid;
        grid-template-rows: 100px min 1fr;
        row-gap: 10px;
        align-items: start;
        justify-items: stretch;
        box-shadow: $primary-shadow;
        background-color: $card-bg;
        color: $text-color-primary;

        &__svg {
            width: 100%;
            background-color: $primary;
            color: $text-color-secondary;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 200px;
            }
        }
    }
}


