<div class="container">
    <section  class="card-holder">
        <!-- Nationale Linienverkehre -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/germany.svg'"/>
            </div>
            <h2 translate="services.national.title"></h2>
            <div class="card__info" translate="services.national.info"></div>
        </article>
        <!-- Europaweite Transporte -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/europe.svg'"/>
            </div>
            <h2 translate="services.european.title"></h2>
            <div class="card__info" translate="services.european.info"></div>
        </article>
        <!-- Internationale Transporte -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/world.svg'"/>
            </div>
            <h2 translate="services.international.title"></h2>
            <div class="card__info" translate="services.international.info"></div>
        </article>
        <!-- Temperaturgeführte Transporte -->
        <article class="card">
            <div class="card__svg">
                <img class="smaller" [src]="urlPrefix + 'assets/icons/thermometer.svg'"/>
            </div>
            <h2 translate="services.temperatureControlled.title"></h2>
            <div class="card__info" translate="services.temperatureControlled.info"></div>
        </article>
        <!-- Gefahrguttransporte -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/danger-sign.svg'"/>
            </div>
            <h2 translate="services.dangerGoodss.title"></h2>
            <div class="card__info" translate="services.dangerGoodss.info"></div>
            
        </article>
    </section>
</div>







 


 
