.loc ::ng-deep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (min-width: 900px) {
  .loc ::ng-deep {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media (min-width: 1200px) {
  .loc ::ng-deep {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    overflow-y: unset;
  }
}

.loc ::ng-deep .loc__left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 20px;
}

.loc ::ng-deep .loc__left-panel * {
  word-break: break-word;
}

@media (min-width: 600px) {
  .loc ::ng-deep .loc__left-panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .loc ::ng-deep .loc__left-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-right: 20px;
    margin-bottom: 0;
    min-width: 300px;
  }
}

@media (min-width: 1800px) {
  .loc ::ng-deep .loc__left-panel {
    min-width: 350px;
  }
}

.loc ::ng-deep .loc__right-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 1200px) {
  .loc ::ng-deep .loc__right-panel {
    min-width: 900px;
  }
}

.loc ::ng-deep .card {
  background-color: #004826;
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.loc ::ng-deep .card * {
  color: #FFFFFF;
}

@media (min-width: 600px) {
  .loc ::ng-deep .card {
    padding: 15px;
  }
}

.loc ::ng-deep .card img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.loc ::ng-deep .card--person {
  background-color: #007032;
}

@media (min-width: 600px) {
  .loc ::ng-deep .card--person {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 250px;
  }
}

.loc ::ng-deep .card--branch > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .loc ::ng-deep .card--branch {
    -webkit-box-flex: 1.5;
        -ms-flex-positive: 1.5;
            flex-grow: 1.5;
    margin-right: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
        grid-template-areas: "title title" "address phone" "email fax";
  }
  .loc ::ng-deep .card--branch > * {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

@media (min-width: 1200px) {
  .loc ::ng-deep .card--branch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    height: 100%;
  }
}

.loc ::ng-deep .card__title {
  grid-area: title;
  margin-bottom: 20px;
}

.loc ::ng-deep .card__address {
  grid-area: address;
}

.loc ::ng-deep .card__email {
  grid-area: email;
}

.loc ::ng-deep .card__phone {
  grid-area: phone;
}

.loc ::ng-deep .card__fax {
  grid-area: fax;
}

.loc ::ng-deep mat-tab-group.tab .mat-tab-label {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  opacity: 1;
  border: 3px solid #007032;
  margin: 0 5px 0 0;
  padding: 0 10px;
  min-width: 120px;
}

.loc ::ng-deep mat-tab-group.tab .mat-tab-label .mat-tab-label-content {
  background-color: #FFFFFF;
  color: #007032;
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.loc ::ng-deep mat-tab-group.tab .mat-tab-label.mat-tab-label-active {
  background-color: #007032;
}

.loc ::ng-deep mat-tab-group.tab .mat-tab-label.mat-tab-label-active .mat-tab-label-content {
  background-color: #007032;
  color: #FFFFFF;
  font-weight: 600;
}

.loc ::ng-deep mat-tab-group.tab .mat-ink-bar {
  background-color: transparent;
}

.loc ::ng-deep table.table {
  width: 100%;
  margin-top: 30px;
  border: none;
}

.loc ::ng-deep table.table * {
  font-size: 1rem;
  font-family: "Roboto";
  border: none;
}

.loc ::ng-deep table.table .table__row--tablet {
  display: none !important;
}

@media (min-width: 600px) {
  .loc ::ng-deep table.table .table__row--tablet {
    display: table-row !important;
  }
}

.loc ::ng-deep table.table .table__row--mobile {
  display: table-row !important;
}

@media (min-width: 600px) {
  .loc ::ng-deep table.table .table__row--mobile {
    display: none !important;
  }
}

.loc ::ng-deep table.table tr:nth-child(2n + 1) {
  background-color: #f0f0f0;
}

.loc ::ng-deep table.table td {
  min-width: 50px;
  padding: 5px 10px;
}

@media (min-width: 600px) {
  .loc ::ng-deep table.table td {
    padding: 10px 10px;
  }
}
