<div class="loc">
    <!-- <h2>Hello, {{data.location}}</h2> -->
    <div class="loc__left-panel">
        <div class="card column">
            <h4 class="mb-5">NEUFRA Speditions GmbH</h4>
            <span class="mb-20">{{branch[0].department}}</span>
            <span>E-Mail</span>
            <a class="bold mb-20" [href]="'mailto:' + branch[0].email">{{branch[0].email}}</a>
            <span>Telefon</span>
            <a class="bold mb-20" [href]="'tel:' + branch[0].phone">{{branch[0].phone}}</a>
            <span>Telefax</span>
            <a class="bold mb-20">{{branch[0].hotline}}</a>
        </div>
        <div class="card card--light column">
            <h5 class="mb-20">Niederlassungsleitung</h5>
            <span class="mb-10">{{branch[1].name}}</span>
            <a class="mb-10" [href]="'tel:' + branch[1].phone">{{branch[1].phone}}</a>
            <a class="mb-10" [href]="'mailto:' + branch[1].email">{{branch[1].email}}</a>
        </div>
    </div>


    <div class="loc__right-panel">
        <mat-tab-group class="tab">
            <mat-tab label="National Disposition">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: nationalDisposition }"></ng-container>
            </mat-tab>
            <mat-tab class="tab__section" label="International Disposition">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: internationalDisposition }"></ng-container>
            </mat-tab>
            <mat-tab class="tab__section" label="Management">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: management }"></ng-container>
            </mat-tab>
            <mat-tab class="tab__section" label="Human Resources">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: humanResources }"></ng-container>
            </mat-tab>
            <mat-tab class="tab__section" label="Accounting">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: accounting }"></ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>


<ng-template #personelTable let-personelList="personelData">
    <table class="table" cellspacing="0" cellpadding="0">
        <tr calss="row" *ngFor="let row of personelList; let i=index">
            <td>{{row.department}}</td>
            <td>{{row.name}}</td>
            <td>{{row.phone}}</td>
            <td><a [href]="'mailto:'+row.email">{{row.email}}</a></td>
        </tr>
    </table>
</ng-template>