@import "../../../assets/styles/app-variables";
@import "../../../assets/styles/settings/settings-breakpoints";
.loc ::ng-deep {
    display: flex;
    flex-flow: column;
    // overflow-y: scroll;
    // max-height: 80vh;
    // max-height: calc(var(--vh, 1vh) * 80);

    @include for-tablet-portrait-up {
    
    }

    @include for-tablet-landscape-up {
        flex-flow: column nowrap;
    }

    @include for-desktop-up {
        flex-flow: row;
        overflow-y: unset;
    }

    .loc__left-panel {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 20px;

        * {
            word-break: break-word;
        }

        @include for-tablet-portrait-up {
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        @include for-tablet-landscape-up {
        }

        @include for-desktop-up {
            flex-flow: column nowrap;
            margin-right: 20px;
            margin-bottom: 0;
            min-width: 300px;
        }

        @include for-big-desktop-up {
            min-width: 350px;
        }
    }

    .loc__right-panel {
        flex-grow: 1;
    }

    .card {
        background-color: $secondary;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        * {
            color: $text-color-secondary;
        }

        @include for-tablet-portrait-up {
            padding: 15px;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 2px;
        }

        &--person {
            background-color: $primary;

            @include for-tablet-portrait-up {
                flex-grow: 1;
                min-width: 250px;
            }
        }

        &--branch {
            & > * {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 10px;
            }

            @include for-tablet-portrait-up {
                flex-grow: 1.5;
                margin-right: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                grid-template-areas:
                    "title title"
                    "address phone"
                    "email fax";

                & > * {
                    flex-flow: column wrap;
                }
            }

            @include for-desktop-up {
                display: flex;
                margin-right: 0;
                flex-grow: unset;
                height: 100%;
            }
        }

        &__title {
            grid-area: title;
            margin-bottom: 20px;
        }

        &__address {
            grid-area: address;
        }
        &__email {
            grid-area: email;
        }
        &__phone {
            grid-area: phone;
        }
        &__fax {
            grid-area: fax;
        }
    }

    mat-tab-group.tab {
        .mat-tab-label {
            width: min-content;
            opacity: 1;
            border: 3px solid $text-color-thirdery;
            margin: 0 5px 0 0;
            padding: 0 10px;
            min-width: 120px;

            .mat-tab-label-content {
                background-color: $body-bg;
                color: $text-color-thirdery;
                font-family: "Roboto";
                font-size: 1 * $font-size-base;
                padding: 0;
                margin: 0;
            }
        }

        .mat-tab-label.mat-tab-label-active {
            background-color: $primary;

            .mat-tab-label-content {
                background-color: $primary;
                color: $text-color-secondary;
                font-weight: $font-weight-bold;
            }
        }

        .mat-ink-bar {
            background-color: transparent;
        }
    }

    table.table {
        width: 100%;
        margin-top: 30px;
        border: none;

        * {
            font-size: 1 * $font-size-base;
            font-family: "Roboto";
            border: none;
        }

        .table__row--tablet {
            display: none !important;

            @include for-tablet-portrait-up {
                display: table-row !important;
            }
        }

        .table__row--mobile {
            display: table-row !important;

            @include for-tablet-portrait-up {
                display: none !important;
            }
        }

        tr:nth-child(2n + 1) {
            background-color: #f0f0f0;
        }

        td {
            min-width: 50px;
            padding: 5px 10px;

            @include for-tablet-portrait-up {
                padding: 10px 10px;
            }
        }
    }
}
