<div class="loc">
    <div class="loc__left-panel column">
        <div class="card card--branch">
            <h4 class="card__title mb-5">{{getNameOfTheCompany()}}</h4>
            <div class="card__address">
                <img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/location.svg'"/>
                <span class="column">
                    <span>{{branch[0]?.address}}</span>
                    <span>{{branch[0]?.city}}</span>
                </span>
            </div>
            <div class="card__email">
                <span  class="hide-on-tablet-portrait" translate="locations.email"></span>
                <img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/email.svg'"/>
                <a [href]="'mailto:' + branch[0]?.email">{{branch[0]?.email}}</a>
            </div>
            <div class="card__phone">
                <span class="hide-on-tablet-portrait" translate="locations.phone"></span>
                <img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/phone.svg'"/>
                <a [href]="'tel:' + branch[0]?.phone">{{branch[0]?.phone}}</a>
            </div>
            <div class="card__fax">
                <span class="hide-on-tablet-portrait" translate="locations.fax"></span>
                <img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/fax.svg'"/>
                <a>{{branch[0]?.fax}}</a>
            </div>
        </div>
        <div class="card card--person">
            <h5 class="mb-20" translate="locations.branchManagement"></h5>
            <span class="link-with-icon"><img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/person.svg'"/> {{branch[1]?.branchLeader}}</span>
            <a class="link-with-icon" [href]="'tel:' + branch[1]?.phone"><img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/phone.svg'"/> {{branch[1]?.phone}}</a>
            <a class="link-with-icon" [href]="'tel:' + branch[1]?.fax"><img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/mobile.svg'"/>{{branch[1]?.fax}}</a>
            <a class="link-with-icon" [href]="'mailto:' + branch[1]?.email"><img class="show-on-tablet-portrait" [src]="urlPrefix + 'assets/icons/email.svg'"/> {{branch[1]?.email}}</a>
        </div>
    </div>

    <div class="loc__right-panel">
        <mat-tab-group class="tab">
            <mat-tab *ngIf="nationalDisposition.length > 0" class="tab__section" [label]="'locations.nationalDisposition' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: nationalDisposition }">
                </ng-container>
            </mat-tab>
            <mat-tab *ngIf="internationalDisposition.length > 0" class="tab__section" [label]="'locations.internationalDisposition' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: internationalDisposition }">
                </ng-container>
            </mat-tab>
            <mat-tab *ngIf="management.length > 0" class="tab__section" [label]="'locations.management' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: management }"></ng-container>
            </mat-tab>
            <mat-tab *ngIf="accounting.length > 0" class="tab__section" [label]="'locations.accounting' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: accounting }"></ng-container>
            </mat-tab>
            <mat-tab *ngIf="centralAccounting.length > 0" class="tab__section" [label]="'locations.centralAccounting' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: centralAccounting }"></ng-container>
            </mat-tab>
            <mat-tab *ngIf="humanResources.length > 0" class="tab__section" [label]="'locations.humanResources' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: humanResources }">
                </ng-container>
            </mat-tab>
            <mat-tab *ngIf="executiveManagement.length > 0" class="tab__section" [label]="'locations.executiveManagement' | translate">
                <ng-container *ngTemplateOutlet="personelTable; context: { personelData: executiveManagement }">
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #personelTable let-personelList="personelData">
    <table class="table" cellspacing="0" cellpadding="0">
        <tr class="table__row--tablet" *ngFor="let row of personelList">
            <td>{{('locations.department.' + row.department.trim()) | translate }}</td>
            <td><div *ngFor="let name of row.name" class="mb-5">{{name}}</div></td>
            <td><div *ngFor="let phoneSuffix of row.phoneSuffix" class="mb-5"><a [href]="'tel:' + row.phone">{{ phoneSuffix }}</a></div></td>
            <td><div *ngFor="let email of row.email" class="mb-5"><a [href]="'mailto:' + email">{{ email }}</a></div></td>
        </tr>

        <tr class="table__row--mobile" *ngFor="let row of personelList">
            <td class="column">
                <h4>{{row.department}}</h4>
                <div *ngFor="let name of row.name; let i=index" class="column mb-10">
                    <span class="mb-5">{{name}} </span>
                    <span class="mb-5">
                        {{'locations.phone' | translate}}:&nbsp;
                        <a [href]="'tel:' + row?.phone[i]">{{ row?.phone[i] }}</a>
                    </span>
                    <span *ngIf="row?.email[i]" class="mb-5">
                        {{'locations.email' | translate}}:&nbsp;
                        <a [href]="'mailto:' + row?.email[i]">{{row?.email[i]}}</a>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</ng-template>