@import "../../../assets/styles/app-variables";
@import "../../../assets/styles/settings/settings-breakpoints";
.loc::ng-deep {
    display: flex;
    flex-flow: column;

    @include for-tablet-portrait-up {
    }

    @include for-tablet-landscape-up {
        flex-flow: column nowrap;
    }

    @include for-desktop-up {
        flex-flow: row nowrap;
        overflow-y: unset;
    }

    .loc__left-panel {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 20px;

        * {
            word-break: break-word;
        }

        @include for-tablet-portrait-up {
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        @include for-tablet-landscape-up {
        }

        @include for-desktop-up {
            flex-flow: column nowrap;
            margin-right: 20px;
            margin-bottom: 0;
            min-width: 300px;
        }

        @include for-big-desktop-up {
            min-width: 350px;
        }
    }

    .loc__right-panel {
        flex-grow: 1;
        @include for-desktop-up {
            min-width: 900px;
        }
    }

    .card {
        padding: 10px;
        background-color: $secondary;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        * {
            color: $text-color-secondary;
        }

        @include for-tablet-portrait-up {
            padding: 15px;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 2px;
        }

        &--person {
            background-color: $primary;

            .link-with-icon {
                margin-bottom: 5px;

                @include for-tablet-portrait-up {
                    margin-bottom: 10px;
                }
            }

            @include for-tablet-portrait-up {
                flex-grow: 1;
                min-width: 250px;
            }
        }

        &--branch {
            margin-bottom: 10px;

            & > * {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 5px;

                @include for-tablet-portrait-up {
                    margin-bottom: 10px;
                }
            }

            @include for-tablet-portrait-up {
                flex-grow: 1.5;
                margin-right: 20px;
                margin-bottom: 0;

                span.hide-on-tablet-portrait::after {
                    content: ":";
                    display: inline-block;
                    margin-right: 5px;
                }
            }

            @include for-desktop-up {
                display: flex;
                margin-right: 0;
                margin-bottom: 10px;
                flex-grow: unset;
                height: 100%;
                & > * {
                    flex-flow: column wrap;
                }
                span.hide-on-tablet-portrait::after {
                    content: none;
                }
            }
        }

        &__title {
            grid-area: title;
            margin-bottom: 20px;
        }

        &__address {
            grid-area: address;
        }
        &__email {
            grid-area: email;
        }
        &__phone {
            grid-area: phone;
        }
        &__fax {
            grid-area: fax;
        }
    }

    table.table {
        width: 100%;
        margin-top: 30px;
        border: none;

        * {
            font-size: 1 * $font-size-base;
            font-family: "Roboto";
            border: none;
        }

        .table__row--tablet {
            display: none !important;

            @include for-tablet-portrait-up {
                display: table-row !important;
            }
        }

        .table__row--mobile {
            display: table-row !important;

            @include for-tablet-portrait-up {
                display: none !important;
            }
        }

        tr:nth-child(2n + 1) {
            background-color: #f0f0f0;
        }

        td {
            min-width: 50px;
            padding: 5px 10px;

            @include for-tablet-portrait-up {
                padding: 10px 10px;
            }
        }
    }
}
