<div class="container carrier">
    <section class="carrier__info">
        <p>
            Das Fundament unseres Unternehmens sind unsere Mitarbeiter/-innen. Daher sind wir immer auf der Suche nach
            motivierten neuen Kollegen/-innen. Berufserfahrene Disponenten/-innen sind der Garant für Qualität und
            Wachstum und sind selbstverständlich herzlich willkommen bei uns die Herausforderung der eigenständigen Bearbeitung einer
            Verkehrsrelation anzunehmen.
        </p>
        <p>
            Durchstöbern Sie gerne unsere aktuellen Stellenagebote, Bewerbungen können Sie direkt an die entsprechende
            Niederlassung senden.
        </p>
    </section>
    <section class="carrier__table table">
        <div class="table__header row row--space-btw">
            <h3 class="no-margin">Position</h3>
            <h3 class="no-margin row">Standort <i class="fa fa-sort-alpha-down"></i></h3>
        </div>
        <ng-container *ngFor="let position of positions; let i=index;">
            <article class="table__item position">
                <div class="position__short">
                    <h5 class="position__title">{{position.title}}</h5>
                    <span class="position__location">{{position.location}}</span>
                    <i class="fa fa-angle-down position__toggle"
                        [ngClass]="{'expand': expanded && i === currPosition}"
                        (click)="togglePosition(i)"></i>
                </div>
                <div class="position__long animations-delayed-appaerance" *ngIf="expanded && i === currPosition">
                    <div class="position__descripion">{{position.descripion}}</div>
                    <div class="position__tasks mb-20">
                        <h6>Ihre Aufgaben</h6>
                        <ul>
                            <li *ngFor="let task of position.tasks">{{task}}</li>
                        </ul>
                    </div>
                    <div class="position__requirements">
                        <h6>Unsere Anforderungen</h6>
                        <ul>
                            <li *ngFor="let req of position.requirements">{{req}}</li>
                        </ul>
                    </div>
                    <div class="position__offer">
                        <h6>Unser Angebot</h6>
                        <p>{{position.offer}}</p>
                    </div>
                    <div class="position__partner card">
                        <div class="card__header row mb-30">
                            <i class="fa fa-user"></i>
                            <h6 class="no-margin">Ihr Ansprechspartner</h6>
                        </div>
                        <div class="column mb-30">
                            <span class="bold  mb-20">{{position.partner.name}}</span>
                            <span>{{position.partner.email}}</span>
                            <span>Telefon: {{position.partner.tel}}</span>
                        </div>
                        <div class="column mb-30">
                            <span>NEUFRA Speditions GmbH</span>
                            <span>{{position.partner.street + ' ' + position.partner.streetNumber}}</span>
                            <span>{{position.partner.postCode + ' ' + position.partner.city}}</span>
                        </div>
                    </div>
                </div>
            </article>
        </ng-container>

    </section>

</div>