<div class="container">
    <section  class="card-holder">
        <!-- Über 40 Jahre Speditionserfahrung -->
        <article class="card card--green card--big">
            <i class="fa fa-award"></i>
            <h2 translate="aboutUs.expericence.title"></h2>
            <div class="card__info" translate="aboutUs.expericence.info"></div>
        </article>

        <article class="card card--gray">
            <i class="far fa-handshake"></i>
            <h2 translate="aboutUs.partner.title"></h2>
            <div class="card__info" translate="aboutUs.partner.info"></div>
        </article>

        <article class="card card--gray  card--big">
            <i class="fa fa-hand-holding-heart"></i>
            <h2 translate="aboutUs.sustainable.title"></h2>
            <div class="card__info" translate="aboutUs.sustainable.info">
            </div>
            <!-- <a href="http://p186026.webspaceconfig.de/home/">http://p186026.webspaceconfig.de/home/</a> -->
        </article>
        <!-- Spezialist in LKW-Verkehren -->
        <article class="card card--green">
            <i class="fa fa-truck"></i>
            <h2 translate="aboutUs.specialty.title"></h2>
            <div class="card__info"  translate="aboutUs.specialty.info"></div>
        </article>
        <!-- Direkttransport ohne Umladung -->
        <article class="card card--green">
            <i class="fa fa-box"></i>
            <h2 translate="aboutUs.direct-transportation.title"></h2>
            <div class="card__info" translate="aboutUs.direct-transportation.info"></div>
        </article>
        <!-- Auf Wunsch Sendungsverfolgung -->
        <article class="card card--gray">
            <i class="fa fa-route"></i>
            <h2 translate="aboutUs.shipment-tracking.title"></h2>
            <div class="card__info" translate="aboutUs.shipment-tracking.info"></div>
        </article>
        <!-- Partner für eine digitale Zukunft -->
        <article class="card card--gray">
            <i class="fa fa-globe"></i>
            <h2 translate="aboutUs.digitalisation-partner.title"></h2>
            <div class="card__info" translate="aboutUs.digitalisation-partner.info"></div>
        </article>
    </section>
    <section class="history-holder">
        <h2>Historie</h2>
        <div>
            <p translate="aboutUs.history.first"></p>
            <p translate="aboutUs.history.second"></p>
            <p translate="aboutUs.history.third"></p>
        </div>
    </section>
</div>