<div class="footer col">
    <div class="footer__block container">
        <div class="footer__block-info column">
            <h3>Neutralität auf direktem weg.</h3>
            <h4>NEUFRA Speditions GmbH</h4>
            <span>Moselstraße 8</span>
            <span>41464 Neuss</span>
            <span>Telefon: 02131 - 40 75 - 0</span>
            <span>Telefax: 02131 - 40 75 - 924</span>
            <span><span class="hide-on-mobile">E-Mail: </span>neuss@neufraspedition.de</span>
        </div>
    </div>
    <div class="container">
        <div class="footer__ribbon row">
            <a routerLink="/impressum" translate="footer.entreprise"></a>
            <a routerLink="/datenschutz" translate="footer.privacy"></a>
            <span>&copy; 2022 NEUFRA Speditions GmbH</span>
        </div>
    </div>
</div>