.footer {
  width: 100%;
  margin-top: auto;
}

.footer__block {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007032), to(#004826));
  background-image: linear-gradient(to bottom, #007032, #004826);
  /* The points are: centered top, left bottom, right bottom */
  -webkit-clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-phone/3), 100% 100%, 0 100%, 0 calc($footer-height-phone/3));
          clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-phone/3), 100% 100%, 0 100%, 0 calc($footer-height-phone/3));
}

@media (min-width: 600px) {
  .footer__block {
    height: 300px;
    -webkit-clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-tablet-portrait/3), 100% 100%, 0 100%, 0 calc($footer-height-tablet-portrait/3));
            clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-tablet-portrait/3), 100% 100%, 0 100%, 0 calc($footer-height-tablet-portrait/3));
  }
}

@media (min-width: 900px) {
  .footer__block {
    height: 300px;
    -webkit-clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-tablet-landscape/3), 100% 100%, 0 100%, 0 calc($footer-height-tablet-landscape/3));
            clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-tablet-landscape/3), 100% 100%, 0 100%, 0 calc($footer-height-tablet-landscape/3));
  }
}

@media (min-width: 1200px) {
  .footer__block {
    height: 300px;
    -webkit-clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-desktop/3), 100% 100%, 0 100%, 0 calc($footer-height-desktop/3));
            clip-path: polygon(calc((100vw - $container-width-desktop)/2) 0, 100% calc($footer-height-desktop/3), 100% 100%, 0 100%, 0 calc($footer-height-desktop/3));
  }
}

.footer__block::before, .footer__block::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: 2;
  -webkit-transform: translate(-20%, -40%);
          transform: translate(-20%, -40%);
}

@media (min-width: 600px) {
  .footer__block::before, .footer__block::after {
    -webkit-transform: translate(-60%, -33%);
            transform: translate(-60%, -33%);
  }
}

@media (min-width: 900px) {
  .footer__block::before, .footer__block::after {
    -webkit-transform: translate(-60%, -28%);
            transform: translate(-60%, -28%);
  }
}

@media (min-width: 1200px) {
  .footer__block::before, .footer__block::after {
    -webkit-transform: translate(-60%, -25%);
            transform: translate(-60%, -25%);
  }
}

.footer__block::before {
  background-color: #FFFFFF;
  width: calc($container-width-phone/1.1);
  height: calc($container-width-phone/1.1);
}

@media (min-width: 600px) {
  .footer__block::before {
    width: calc($container-width-tablet-portrait/1.1);
    height: calc($container-width-tablet-portrait/1.1);
  }
}

@media (min-width: 900px) {
  .footer__block::before {
    height: calc($container-width-tablet-landscape/1.1);
    width: calc($container-width-tablet-landscape/1.1);
  }
}

@media (min-width: 1200px) {
  .footer__block::before {
    width: calc($container-width-desktop/1.1);
    height: calc($container-width-desktop/1.1);
  }
}

.footer__block::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007032), to(#004826));
  background-image: linear-gradient(to bottom, #007032, #004826);
  width: calc($container-width-phone/1.20);
  height: calc($container-width-phone/1.20);
}

@media (min-width: 600px) {
  .footer__block::after {
    width: calc($container-width-tablet-portrait/1.14);
    height: calc($container-width-tablet-portrait/1.14);
  }
}

@media (min-width: 900px) {
  .footer__block::after {
    height: calc($container-width-tablet-landscape/1.14);
    width: calc($container-width-tablet-landscape/1.14);
  }
}

@media (min-width: 1200px) {
  .footer__block::after {
    width: calc($container-width-desktop/1.14);
    height: calc($container-width-desktop/1.14);
  }
}

.footer__block-info {
  margin: calc($footer-height-phone/3) auto 10px 0;
}

@media (min-width: 600px) {
  .footer__block-info > * {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .footer__block-info > * {
    font-size: 1rem;
  }
}

.footer__ribbon {
  height: 30px;
}

.footer__ribbon a {
  display: none;
  margin-right: 20px;
  text-transform: capitalize;
}

@media (min-width: 1200px) {
  .footer__ribbon a {
    display: inline-block;
  }
}

.footer__ribbon span {
  color: #007032;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .footer__ribbon span {
    margin: 0 0 0 auto;
  }
}
