<div class="footer">
    <div class="footer__block">
        <div class="container">
            <div class="footer__block-info container details">
                <h4 class="details__other">Neutralität auf direktem weg.</h4>
                <h4 class="details__name">NEUFRA Speditions GmbH</h4>
                <a  class="details__adr" href="https://maps.google.com/?q=8 Moselstraße, Neuss, 41464"><img [src]="urlPrefix + 'assets/icons/location.svg'"/>
                    <span class="column">
                        <span>Moselstraße 8</span>
                        <span>41464 Neuss</span>
                    </span>
                </a>
                <a class="details__tel" href="tel:02131-4075-0"><img [src]="urlPrefix + 'assets/icons/phone.svg'"/>02131 - 40 75 - 0</a>
                <a class="details__fax" href="tel:02131-4075-924"><img [src]="urlPrefix + 'assets/icons/fax.svg'"/>02131 - 40 75 - 924</a>
                <a class="details__mail" href="mailto:neuss@neufraspedition.de" class="email"><img [src]="urlPrefix + 'assets/icons/email.svg'"/>neuss@neufraspedition.de</a>
            </div>
        </div>
    </div>
    <div class="footer__ribbon row container">
        <a routerLink="/impressum" translate="footer.entreprise"></a>
        <a routerLink="/datenschutz" translate="footer.privacy"></a>
        <span>&copy; 2022 NEUFRA Speditions GmbH</span>
    </div>
</div>