@import "../../../assets/styles/app-variables";
@import "../../../assets/styles/settings/settings-breakpoints";

.footer {
    width: 100%;
    margin-top: auto;
  

    &__block {
        $block-height: 300px;
        border: 1px solid #000;
        width: 100%;
        height: $block-height;
        position: relative;
        overflow: hidden;
        z-index: 1;
        $center-pos: calc((100vw - $container-width-desktop)/2) ;
        background-image: linear-gradient(to bottom, $primary, $secondary);
        // background-image: linear-gradient(to bottom, #007032, #00662f, #005c2d, #005229, #004826);
        /* The points are: centered top, left bottom, right bottom */
        clip-path: polygon($center-pos 0, 100% calc($block-height/3), 100% 100%, 0 100%,0 calc($block-height/3));

        &::before,
        &::after {
            content: "";
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 100%;
            left: 100%;
            z-index: 2;
            transform: translate(-30%, -40%);

            @include for-tablet-portrait-up {
                transform: translate(-60%, -30%);
            }
        
            @include for-tablet-landscape-up {
            }

            @include for-desktop-up {
            }
        }

        &::before {
            background-color: $body-bg;
            width: calc($container-width-phone/1.1);
            height: calc($container-width-phone/1.1);

            @include for-tablet-portrait-up {
                width: calc($container-width-tablet-portrait/1.1);
                height: calc($container-width-tablet-portrait/1.1);
            }
        
            @include for-tablet-landscape-up {
                height: calc($container-width-tablet-landscape/1.1);
                width: calc($container-width-tablet-landscape/1.1);
            }

            @include for-desktop-up {
                width: calc($container-width-desktop/1.1);
                height: calc($container-width-desktop/1.1);
            }
        }

        &::after {
            background-image: linear-gradient(to bottom, $primary, $secondary);
            width: calc($container-width-phone/1.14);
            height: calc($container-width-phone/1.14);

            @include for-tablet-portrait-up {
                width: calc($container-width-tablet-portrait/1.14);
                height: calc($container-width-tablet-portrait/1.14);
            }
        
            @include for-tablet-landscape-up {
                height: calc($container-width-tablet-landscape/1.14);
                width: calc($container-width-tablet-landscape/1.14);
            }

            @include for-desktop-up {
                width: calc($container-width-desktop/1.14);
                height: calc($container-width-desktop/1.14);
            }
        }

        &-info{
            margin: calc($block-height/3) auto 10px 10px;

            @include for-tablet-portrait-up {
                margin: calc($block-height/3) auto 10px 20px;

            }
        
            @include for-tablet-landscape-up {
                margin: calc($block-height/3) auto 10px 30px;

            }

            @include for-desktop-up {
                margin: calc($block-height/3) auto 10px 40px;

            }

            h3 {
                text-transform: uppercase;
                margin-bottom: 20px;
                font-weight: $font-weight-semi-bold;
            }

            h2 {
                font-weight: $font-weight-normal;
            }

            & > * {
                color: $text-color-secondary;
                font-weight: $font-weight-thin;
                font-size: 0.7*$font-size-base;

                @include for-tablet-portrait-up {
                    font-size: 0.9*$font-size-base;
    
                }
            
                @include for-tablet-landscape-up {
                    font-size: 1*$font-size-base;
    
                }
    
                @include for-desktop-up {
    
                }
            }
        }
    }

    &__ribbon {
        height: 30px;
        width: 100%;

        a {
            display: none;
            margin-right: 20px;
            text-transform: capitalize;

            @include for-desktop-up {
                display: inline-block;
            }
        }

        span {
            color: $primary;
            margin-left: auto;
        }
    }
}