@import "../../../assets/styles/app-variables";
@import "../../../assets/styles/settings/settings-breakpoints";

.footer {
    width: 100%;
    margin-top: auto;
  

    &__block {
        width: 100%;
        height: $footer-height-phone;
        position: relative;
        overflow: hidden;
        z-index: 1;
        $center-pos: calc((100vw - $container-width-desktop)/2) ;
        background-image: linear-gradient(to bottom, $primary, $secondary);
        // background-image: linear-gradient(to bottom, #007032, #00662f, #005c2d, #005229, #004826);
        /* The points are: centered top, left bottom, right bottom */
        clip-path: polygon($center-pos 0, 100% calc($footer-height-phone/3), 100% 100%, 0 100%,0 calc($footer-height-phone/3));

        @include for-tablet-portrait-up {
            height: $footer-height-tablet-portrait;
            clip-path: polygon($center-pos 0, 100% calc($footer-height-tablet-portrait/3), 100% 100%, 0 100%,0 calc($footer-height-tablet-portrait/3));
        }
    
        @include for-tablet-landscape-up {
            height: $footer-height-tablet-landscape;
            clip-path: polygon($center-pos 0, 100% calc($footer-height-tablet-landscape/3), 100% 100%, 0 100%,0 calc($footer-height-tablet-landscape/3));
        }

        @include for-desktop-up {
            height: $footer-height-desktop;
            clip-path: polygon($center-pos 0, 100% calc($footer-height-desktop/3), 100% 100%, 0 100%,0 calc($footer-height-desktop/3));
        }

        &::before,
        &::after {
            content: "";
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 100%;
            left: 100%;
            z-index: 2;
            transform: translate(-20%, -40%);

            @include for-tablet-portrait-up {
                transform: translate(-60%, -33%);
            }
        
            @include for-tablet-landscape-up {
                transform: translate(-60%, -28%);
            }

            @include for-desktop-up {
                transform: translate(-60%, -25%);
            }
        }

        &::before {
            background-color: $body-bg;
            width: calc($container-width-phone/1.1);
            height: calc($container-width-phone/1.1);

            @include for-tablet-portrait-up {
                width: calc($container-width-tablet-portrait/1.1);
                height: calc($container-width-tablet-portrait/1.1);
            }
        
            @include for-tablet-landscape-up {
                height: calc($container-width-tablet-landscape/1.1);
                width: calc($container-width-tablet-landscape/1.1);
            }

            @include for-desktop-up {
                width: calc($container-width-desktop/1.1);
                height: calc($container-width-desktop/1.1);
            }
        }

        &::after {
            background-image: linear-gradient(to bottom, $primary, $secondary);
            width: calc($container-width-phone/1.20);
            height: calc($container-width-phone/1.20);

            @include for-tablet-portrait-up {
                width: calc($container-width-tablet-portrait/1.14);
                height: calc($container-width-tablet-portrait/1.14);
            }
        
            @include for-tablet-landscape-up {
                height: calc($container-width-tablet-landscape/1.14);
                width: calc($container-width-tablet-landscape/1.14);
            }

            @include for-desktop-up {
                width: calc($container-width-desktop/1.14);
                height: calc($container-width-desktop/1.14);
            }
        }

        &-info{
            margin: calc($footer-height-phone/3) auto 10px 0;

            & > * {

                @include for-tablet-portrait-up {
                    font-size: 1*$font-size-base;
    
                }
            
                @include for-tablet-landscape-up {
                    font-size: 1*$font-size-base;
                }
    
                @include for-desktop-up {
    
                }
            }
        }
    }


    &__ribbon {
        height: 30px;
        // width: 100%;

        a {
            display: none;
            margin-right: 20px;
            text-transform: capitalize;

            @include for-desktop-up {
                display: inline-block;
            }
        }

        span {
            color: $primary;
            margin: 0 auto;

            @include for-desktop-up {
                margin: 0 0 0 auto;
            }
        }
    }
}