<div class="footer col">
    <div class="footer__block">
        <div class="footer__block-info column">
            <h2>Neutralität auf direktem weg.</h2>
            <h3>NEUFRA Speditions GmbH</h3>
            <span>Moselstraße 8</span>
            <span>41464 Neuss</span>
            <span>Telefon: 02131 - 40 75 - 0</span>
            <span>Telefax: 02131 - 40 75 - 924</span>
            <span>E-Mail: neuss@neufraspedition.de</span>
        </div>
    </div>
    <div class="container">
        <div class="footer__ribbon row">
            <a routerLink="/impressum">impressum</a>
            <a routerLink="/datenschutz">datenschutz</a>
            <span>&copy; 2022 NEUFRA Speditions GmbH</span>
        </div>
    </div>
</div>