@import "../../assets/styles/settings/settings-breakpoints";

.locations__info {
    margin-bottom: 50px;
}
.locations__map {
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 3;


    @include for-tablet-portrait-up {
        height: 500px;
    }

    @include for-tablet-landscape-up {
        height: 600px;
    }

    @include for-desktop-up {
        height: 750px;
    }

    .map {
        width: 320%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-36%, -62%);

        @include for-tablet-portrait-up {
            width: 200%;
            transform: translate(-40%, -63%);
        }

        @include for-tablet-landscape-up {
            width: 175%;
            transform: translate(-37%, -63%);
        }

        @include for-desktop-up {
            width: 150%;
            transform: translate(-43%, -62%);
        }

        @include for-big-desktop-up {
            width: 120%;
            transform: translate(-43%, -62%);
        }
    }
}

.imp-wrap.imp-sticky-tooltips {
    max-width: 2560px !important;
    max-height: unset !important;
    width: 100% !important;
}
