<div class="location">
	<section class="locations__info container">
		<p>
			Über unser dichtes Niederlassungsnetz stellen wir größtmögliche geografische Nähe zu unseren
			Geschäftspartnern sicher. Klicken Sie für Detailinformationen zu Relationen und Ansprechpartnern einfach auf
			eine NEUFRA-Niederlassung in der Karte.
		</p>
	</section>
	<!-- this creates a google map on the page with the given lat/lng from -->
	<!-- the component as the initial center of the map: -->
	<!-- <agm-map class="map" [latitude]="lat" [longitude]="lng"> -->
	<agm-map class="locations__map" [latitude]="mapLat" [longitude]="mapLng" [styles]="mapStyle" [zoom]="mapZoom"
		[scrollwheel]="false" [disableDefaultUI]="false" [zoomControl]="true" [streetViewControl]="false">
		<ng-container *ngFor="let location of locations; let i=index">
			<agm-marker [latitude]="location.lat" [longitude]="location.lng" [title]="location.title"
				[label]="{fontSize: '12px', fontWeight: 'bold', text: location.name, color: '#0A0F0F'}"
				[iconUrl]="mapMarkerIcon" [markerClickable]="true" [markerDraggable]="false"
				(markerClick)="showLocationDetails(location)">
				<!-- <agm-info-window>{{location.name}}</agm-info-window> -->
			</agm-marker>
		</ng-container>
	</agm-map>
</div>