$primary-light-color: #FFC207;
$primary-color: #FF9802;

$secondary-lighter-color: #DFF4F1;
$secondary-light-color: #41BEAD;
$secondary-color: #363538;

$specific-text-color: #44A9F8;
$text-color: #585858;

$nav-hover-color:#F8F8F8;
$primary-bg-color: #E6E6E6;


$sticky-note-dim: 300px;
$sticky-note-col-pink: #FF78A3;
$sticky-note-col-yellow: #F0F157;
$sticky-note-col-blue: #7DE0C7;
$sticky-note-col-green: #78FC65;
$sticky-note-shadow: 5px 5px 7px rgba(33,33,33,.7);