<div class="container column">
    <h2>Impressum</h2>
    <h3>Verantwortlich für den Inhalt</h3>
    <h5>NEUFRA Speditions GmbH</h5>
    <span>Moselstraße 8</span>
    <span>41464 Neuss</span>
    <span>Telefon: <a class="details__tel" href="tel:02131-4075-0">02131 - 40 75 - 0</a></span>
    <span>Telefax: <a class="details__fax" href="tel:02131-4075-924">02131 - 40 75 - 924</a></span>
    <span>E-Mail: <a href="mailto:neuss@neufraspedition.de">neuss@neufraspedition.de</a></span>

    <h3>Gesellschafter</h3>
    <span>Wolfgang Hast</span>
    <span>Sandra Hast-Herrendorf</span>

    <h3>Geschäftsführer</h3>
    <span>Wolfgang Hast, Sprecher</span>
    <span>Sandra Hast-Herrendorf</span>
    <span>Frank Göltl</span>
    <span>Peter Reindl</span>

    <h3>Handelsregister</h3>
    <span>Amtsgericht Neuss, HRB 2660</span>
    <span>Steuernummer: 122/5755/4339</span>
    <span>Ust.-ID-Nr.: DE120682142</span>

    <h3>Nutzungs- und rechtliche Hinweise</h3>
    <p>
        Die Informationen auf diesen Webseiten wurden sorgfältig zusammengestellt. Trotz aller Sorgfalt können Fehler auftreten. Daher weisen wir ausdrücklich darauf hin, dass wir keine Haftung oder Garantie für die Vollständigkeit, Aktualität und Richtigkeit dieser bereitgestellten Informationen übernehmen. Wir übernehmen auch keine Haftung oder Garantie für die Inhalte externer Links. Für die Inhalte der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Alle Nutzer erklären ihr Einverständnis damit, dass die Nutzung der Webseite auf ihr eigenes Risiko erfolgt.
    </p>
</div>