<div class="container column">
    <h2 translate="legalNotice.legalNotice"></h2>
    <h3 translate="legalNotice.responsible"></h3>
    <h5>NEUFRA Speditions GmbH</h5>
    <span>Moselstraße 8</span>
    <span>41464 Neuss</span>
    <span>{{'shared.phone' | translate}}: <a class="details__tel" href="tel:02131-4075-0">02131 - 40 75 - 0</a></span>
    <span>{{'shared.fax' | translate}}: <a class="details__fax" href="tel:02131-4075-924">02131 - 40 75 - 924</a></span>
    <span>E-Mail: <a href="mailto:neuss@neufra.eu">neuss@neufra.eu</a></span>

    <h3 translate="legalNotice.shareholders"></h3>
    <span>Wolfgang Hast</span>
    <span>Sandra Hast-Herrendorf</span>

    <h3 translate="legalNotice.managingDirectors"></h3>
    <span>Wolfgang Hast, Sprecher</span>
    <span>Sandra Hast-Herrendorf</span>
    <span>Frank Göltl</span>
    <span>Peter Reindl</span>

    <h3 translate="legalNotice.commerciaRegister"></h3>
    <span>{{'legalNotice.court' | translate}} Neuss, HRB 2660</span>
    <span>{{'legalNotice.taxNumber' | translate}}: 122/5755/4339</span>
    <span>{{'legalNotice.vatId' | translate}}: DE120682142</span>

    <h3 translate="legalNotice.useNotice"></h3>
    <p translate="legalNotice.info"></p>
</div>