@import "../../../assets/styles/app-variables";
@import "../../../assets/styles/settings/settings-breakpoints";

.header {
    width: 100%;
    
    .container {
        height: $header-height-phone;
        display: flex;
        position: relative;
        align-items: center;
        position: relative;

        @include for-tablet-portrait-up {
            height: $header-height-tablet-portrait;
        }
    
        @include for-tablet-landscape-up {
            height: $header-height-tablet-landscape;
        }
    
        @include for-desktop-up {
            height: $header-height-desktop;
        }
    }

    @include for-desktop-up {
        &::before {
            content: "";
            height: 10px;
            width: 100%;
            background-color: $primary;
            position: absolute;
            top: 0;
        }
    }

    &__logo {
        
        @include for-desktop-up {
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 2;
        }
    }

    &__burger-menu {
        display: block;
        margin-left: auto;
        
        i {
            font-weight: $font-weight-bold;
            font-size: 2*$font-size-base;
            color: $primary;
            &:hover {
                color: $secondary;
            }
        }

        @include for-desktop-up {
            display: none !important;
        }
    }
    
    &__mini-menu-toggle {
        display: none;
        pointer-events: none;
        position: absolute;
    }

    .backdrop {
        z-index: 10;

        @include for-desktop-up {
            display: none !important;
        }
    }
    
    &__mini-menu-toggle:checked  ~ &__menu,
    &__mini-menu-toggle:not(:checked)  + &__burger-menu,
    &__mini-menu-toggle:checked  ~ .backdrop {
        display: flex;
    }
    
    &__mini-menu-toggle:not(:checked)  ~ &__menu,
    &__mini-menu-toggle:checked  + &__burger-menu,
    &__mini-menu-toggle:not(:checked)  ~ .backdrop {
        display: none;
    }

    &__menu {
        margin-left: auto;
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        right: -10px;
        box-shadow: $primary-shadow;
        z-index: 100;

        @include for-tablet-portrait-up  {
            right: -15px;
        }
        
        @include for-tablet-landscape-up  {
            right: -20px;
        }
        
        @include for-desktop-up {
            display: flex !important;
            position: static;
            box-shadow: none;
        }
    }

    &__img {
        overflow: hidden;
    }
}

.lang-bar {
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: $nav-text-color;
    font-weight: $font-weight-bold;
    outline: none;
    background-color: $body-bg;
}
