<div class="header row row--centered">
    <div class="container">
        <a routerLink="/home" class="header__logo logo">
            <div class="logo__img"><img [src]="logoPath" alt="Logo Neufra"></div>
        </a>
        <ul class="header__menu menu">
            <li class="menu__item">
                <a routerLink="/unternehmen" class="menu__item-link" 
                [ngClass]="{'menu__item-link--active': activeTab === 'unternehmen'}" 
                (click)="onNavClick('unternehmen')">unternehmen</a>
            </li>
            <li class="menu__item">
                <a routerLink="/standorte" class="menu__item-link" 
                [ngClass]="{'menu__item-link--active': activeTab === 'standorte'}" 
                (click)="onNavClick('standorte')">standorte</a>
            </li>
            <li class="menu__item">
                <a routerLink="/dienstleistungen" class="menu__item-link" 
                [ngClass]="{'menu__item-link--active': activeTab === 'dienstleistungen'}" 
                (click)="onNavClick('dienstleistungen')">dienstleistungen</a>
            </li>
            <li class="menu__item">
                <a routerLink="/karriere" class="menu__item-link" 
                [ngClass]="{'menu__item-link--active': activeTab === 'karriere'}" 
                (click)="onNavClick('karriere')">karriere</a>
            </li>
            <li class="menu__item">
                <a routerLink="/transportunternehmer" class="menu__item-link" 
                [ngClass]="{'menu__item-link--active': activeTab === 'transportunternehmer'}" 
                (click)="onNavClick('transportunternehmer')">transportunternehmer</a>
            </li>
            <li class="menu__item">
                <a class="menu__item-link">DE</a>
            </li>
        </ul>
    </div>
    <div class="header__img poster">
        <div class="poster__img"><img [src]="imgPath" alt="Poster photo"></div>
    </div>
</div>
