/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/app-variables";

@import "./assets/styles/settings/_settings-colors.scss";
@import "./assets/styles/settings/_settings-animations.scss";
@import "./assets/styles/settings/_settings-place-holders.scss";
@import "./assets/styles/settings/_settings-breakpoints.scss";
@import "./assets/styles/settings/_settings-shadows.scss";
@import "./assets/styles/settings/_settings-borders.scss";

@import "./assets/styles/generic/_generic-normalize.scss";
@import "./assets/styles/generic/_generic-fonts.scss";
@import "./assets/styles/generic/_generic-scrollbar.scss";
@import "./assets/styles/generic/_generic-selection.scss";

@import "./assets/styles/elements/_elements-body.scss";
@import "./assets/styles/elements/_elements-paragraphs.scss";
@import "./assets/styles/elements/_elements-headings.scss";
@import "./assets/styles/elements/_elements-lists.scss";
@import "./assets/styles/elements/_elements-list-items.scss";
@import "./assets/styles/elements/_elements-images.scss";
@import "./assets/styles/elements/_elements-links.scss";

@import "./assets/styles/components/_components-form.scss";
@import "./assets/styles/components/_components-menu.scss";
@import "./assets/styles/components/_components-notifications.scss";
@import "./assets/styles/components/_components-buttons.scss";
@import "./assets/styles/components/_components-icons.scss";


@import "./assets/styles/objects/_objects-containers.scss";
@import "./assets/styles/objects/_objects-text-like-list.scss";


@import "./assets/styles/utilities/_utilities-centered.scss";
@import "./assets/styles/utilities/_utilities-hidden.scss";
@import "./assets/styles/utilities/_utilities-invisible.scss";
@import "./assets/styles/utilities/_utilities-animations.scss";
@import "./assets/styles/utilities/_utilities-page-title.scss";



.content-body { 
    display: grid;
    grid-template-rows: 120px 1fr 20px;
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
}

.spinner-wrap {
    grid-column: 1 / -1;
}