/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/app-variables";

@import "./assets/styles/settings/_settings-animations.scss";
@import "./assets/styles/settings/_settings-place-holders.scss";
@import "./assets/styles/settings/_settings-breakpoints.scss";

@import "./assets/styles/generic/_generic-normalize.scss";
@import "./assets/styles/generic/_generic-fonts.scss";
@import "./assets/styles/generic/_generic-scrollbar.scss";
@import "./assets/styles/generic/_generic-selection.scss";

@import "./assets/styles/elements/_elements-body.scss";
@import "./assets/styles/elements/_elements-paragraphs.scss";
@import "./assets/styles/elements/_elements-headings.scss";
@import "./assets/styles/elements/_elements-lists.scss";
@import "./assets/styles/elements/_elements-list-items.scss";
@import "./assets/styles/elements/_elements-images.scss";
@import "./assets/styles/elements/_elements-links.scss";
@import "./assets/styles/elements/_elements-select.scss";

@import "./assets/styles/components/_components-poster.scss";
@import "./assets/styles/components/_components-logo.scss";
@import "./assets/styles/components/_components-menu.scss";
@import "./assets/styles/components/_components-form.scss";
@import "./assets/styles/components/_components-notifications.scss";
@import "./assets/styles/components/_components-buttons.scss";
@import "./assets/styles/components/_components-icons.scss";
@import "./assets/styles/components/_components-card.scss";
@import "./assets/styles/components/_components-details.scss";

@import "./assets/styles/objects/_objects-containers.scss";
@import "./assets/styles/objects/_objects-text-like-list.scss";

@import "./assets/styles/utilities/_utilities-no-marign.scss";
@import "./assets/styles/utilities/_utilities-bold.scss";
@import "./assets/styles/utilities/_utilities-hidden.scss";
@import "./assets/styles/utilities/_utilities-invisible.scss";
@import "./assets/styles/utilities/_utilities-animations.scss";
@import "./assets/styles/utilities/_utilities-page-title.scss";
@import "./assets/styles/utilities/_utilities-margin-bottom.scss";
@import "./assets/styles/utilities/_utilities-mobile-only.scss";
@import "./assets/styles/utilities/_utilities-tablet-only.scss";
@import "./assets/styles/utilities/_utilities-link-with-icon.scss";



.dialog {
    max-width: 85vw !important;
    max-height: 85vh;
    max-height: calc(var(--vh, 1vh) * 90);

    @include for-desktop-up {
        max-width: 95vw !important;
        min-width: 1300px !important;
        width: 80vw !important;
    }

    @include for-big-desktop-up {
        min-height: 60vh;
        max-width: 80vw !important;
    }
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
}

.spinner-wrap {
    grid-column: 1 / -1;
}
html, body { height: 100%; }
