@import "../../assets/styles/app-variables";
@import "../../assets/styles/settings/settings-breakpoints";
.container {
    padding: 0 10px;
}

.card {
    box-shadow: none;
    margin-bottom: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-areas:
        "icon title"
        "info info";
    justify-content: center;
    align-content: center;

    @include for-tablet-portrait-up {
        grid-template-columns: 120px 1fr;
        width: 600px;
        grid-template-areas:
            "icon title"
            "icon info";
    }

    @include for-tablet-landscape-up {
        grid-template-columns: 130px 1fr;
        width: 800px;
    }

    @include for-desktop-up {
        grid-template-columns: 130px 1fr;
        // width: 800px;
    }

    &__svg {
        background-color: $primary;
        grid-area: icon;
    }

    &__title {
        grid-area: title;
        align-self: center;
        margin: 0;
    }

    &__info {
        grid-area: info;
    }
}
