.card {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 80px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  row-gap: 10px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
      grid-template-areas: "icon title" "info info";
}

@media (min-width: 600px) {
  .card {
    -ms-grid-columns: 80px 1fr;
        grid-template-columns: 80px 1fr;
    width: 600px;
        grid-template-areas: "icon title" "icon info";
  }
}

@media (min-width: 900px) {
  .card {
    -ms-grid-columns: 120px 1fr;
        grid-template-columns: 120px 1fr;
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .card {
    -ms-grid-columns: 120px 1fr;
        grid-template-columns: 120px 1fr;
  }
}

.card__svg {
  background-color: #007032;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 90px;
}

@media (min-width: 600px) {
  .card__svg {
    width: 100px;
  }
}

@media (min-width: 900px) {
  .card__svg {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .card__svg {
    width: 120px;
  }
}

.card__svg img {
  width: 60px;
  height: auto;
}

@media (min-width: 600px) {
  .card__svg img {
    width: 60px;
  }
}

@media (min-width: 900px) {
  .card__svg img {
    width: 70px;
  }
}

@media (min-width: 1200px) {
  .card__svg img {
    width: 70px;
  }
}

.card__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.card__info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
}
