<div class="container column column--centered">
    <div class="card">
        <div class="card__svg">
            <img [src]="urlPrefix + 'assets/icons/lorry.svg'"/>
        </div>
        <h3 class="card__title">Sie suchen eine optimale Auslastung für Ihre Fahrzeuge? </h3>
        <div class="card__info">
            Dann lassen Sie uns individuell über eine für beide Parteien maßgeschneiderte Zusammenarbeit reden. Alle
            Punkte werden mit Ihnen abgestimmt, von der Anzahl der Lade- und Abladestellen über das Zielgebiet bis hin
            zum Frachtpreis.
        </div>
    </div>

    <div class="card">
        <div class="card__svg">
            <img [src]="urlPrefix + 'assets/icons/handshake.svg'"/>
        </div>
        <h3 class="card__title">Sie haben Interesse an einer partnerschaftlichen Zusammenarbeit?</h3>
        <div class="card__info">
            Unser Ziel ist eine langfristige Geschäftsbeziehung mit Planungssicherheit für beide Seiten, denn
            zuverlässige Geschäftspartner sind das A und O in unserer Branche.
        </div>
    </div>

    <div class="card">
        <div class="card__svg">
            <img [src]="urlPrefix + 'assets/icons/check-mail.svg'"/>
        </div>
        <h3 class="card__title">Haben wir Ihr Interesse geweckt?</h3>
        <div class="card__info">
            Dann setzen Sie sich mit uns in Verbindung; kontaktieren Sie einfach die Ihnen nächstgelegene Niederlassung.
        </div>
    </div>

    <div>
        <a routerLink="/standorte" class="btn btn--arrowed">Zu unseren Standorten</a>
    </div>
</div>